html, 
body {
	margin: 0;
}

* {
	color: #444;
	letter-spacing: 1px;
	font-family: Raleway,sans-serif;
}

a {
	text-decoration: none;
	color: #444;
	-webkit-transition: 0.1s ease-out;
	-moz-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}

a:hover {
	cursor: pointer;
	color: #680A0A !important;
	text-decoration: none;	
}

.w-nav {
	position: fixed;
	display: block;
	top: 0px;
	left: 0;
	width: 100%;
	max-width: 100%;
	background-color: #fff !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.w-wrapper {
	display: block;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	max-width: 1000px;
}

.w-logo {
	color: #444;
	text-decoration: none;
	font-weight: 700;
}

.w-link {
	font-weight: 700;
	display: inline-block;
	padding: 0 10px;
	color: #444;
}

.banner-image {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.banner-text {
	display: block;
	position: absolute;
	text-align: center;
	max-width: calc(100% - 12px);
	width: 500px;
	padding-left: 5px;
	padding-right: 5px;
	text-shadow: 0px 0px 4px #000;
}

.banner-text * {
	color: #fff;
	font-weight: 700;
}

.banner-text h1 {
	font-size: 46px;
	display: none;
	position: relative;
}

.banner-text p {
	display: none;
	position: relative;
}

.view-fader {
	display: none;
	position: relative;
	margin-bottom: 80px;
}

.img-box {
	max-width: 100%;
	width: 300px;
	height: auto;
}

.img-photo {
	width: 100%;
	height: auto;
}

.col-sm {
	margin-bottom: 20px;
}

.col-sm
img {
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width : 768px){
    .media {
    	display: block !important;
    }

    .media-body {
    	margin-top: 20px;
    }
}